<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Unity_Interception.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Unity_Interception.Properties.Settings>
      <setting name="LogFileFolder" serializeAs="String">
        <value>app.log</value>
      </setting>
      <setting name="MaxLogFileSize" serializeAs="String">
        <value>20000</value>
      </setting>
      <setting name="LogToCategoryNamed" serializeAs="String">
        <value>Information</value>
      </setting>
      <setting name="RollingFile" serializeAs="String">
        <value>Rolling Flat File Trace Listener</value>
      </setting>
      <setting name="TextFormatterNamed" serializeAs="String">
        <value>Text Formatter</value>
      </setting>
      <setting name="UnityPolicyName" serializeAs="String">
        <value>logging</value>
      </setting>
      <setting name="LoggingHandlerBeforeMessage" serializeAs="String">
        <value>Method Çalışıyor...</value>
      </setting>
      <setting name="LoggingHandlerAfterMessage" serializeAs="String">
        <value>Method Çalıştı...</value>
      </setting>
      <setting name="LoggingHandlerEventId" serializeAs="String">
        <value>1001</value>
      </setting>
      <setting name="LoggingHandlerLogBeforeCall" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoggingHandlerLogAfterCall" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoggingHandlerIncludeParameters" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoggingHandlerIncludeCallStack" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoggingHandlerIncludeCallTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoggingHandlerPriority" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LoggingHandlerOrder" serializeAs="String">
        <value>1</value>
      </setting>
    </Unity_Interception.Properties.Settings>
  </userSettings>
</configuration>